<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    {{> head}}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button-->
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand">Application</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/profile">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/graph">Graph</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/settings">Settings</a>
          </li>
        </ul>
        <a href="/logout" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
      </div>
    </nav>
    <div class="container">
      <div class="page-header text-center">
        <h1>Home</h1>
      </div>

      <div class="well">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Sensor</th>
              <th>Last Read</th>
              <th>Moisture</th>
              <th>Watering</th>
            </tr>
          </thead>
          <tbody>
            {{#sensor_data}}
            <tr>
              <td>{{@index}}</td>
              <td>{{niceDate}}</td>
              <td>{{moisture}}%</td>
              <td>{{niceResult}}</td>
            </tr>
            {{/sensor_data}}          
          </tbody>
        </table>
      </div>
  </div>
  </body>
  <footer class="footer">
    <div class="container">
      <span class="text-muted">@Assignment for Sedemac by Rajdeep Mandal</span>
    </div>
  </footer>


</html>
